<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBooksSorter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2824/BooksSorter.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBooksSorter" contract="WCFBooksSorter.IBooksSorter"
                name="BasicHttpBinding_IBooksSorter" />
        </client>
    </system.serviceModel>
</configuration>